.ingredient-item {
    width: 40vw;
    height: 30px;
    padding: 10px;
    color: black;
    border-bottom: 2px solid gray;
    font-size: 20px;
    display: flex;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
}

.ingredient-name {
    width: 50%;
}

.ingredient-value {
    width: 50%;
}
