.foodifai-logo {
  background:  white;
  height: 100px;
  width: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; 
  img {
    width: 100%;
    height: 100%;
  }             
}
