.ingredient-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 50vw;
  background-color: rgb(190, 190, 248);
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  height: 80vh;
  box-shadow: 3px 2px 2px 1px gray;
  overflow: scroll;

  @media screen and (max-width: 800px) {
    width: 90vw;
    margin: 0px;
  }
}
