.image-link-form {
  width: 60vw;
  padding: 10px;
  font-family: "Alata", sans-serif;

  .search-field {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    &:focus {
      border: 3px solid lightseagreen;
    }
    
  }
  button {
    border-radius: 5px;

  }

  @media screen and (max-width: 800px) {
    width: 90vw;
    margin-top: 0px;
  }

  .header-text {
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
  }
}
